# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
test-image-cache
image-cache

# Production
dist
build
import-data.sql
scrape-results.json
clean-data.js
cleaned-scrape-results.json
r2-delete.js
r2-config.json
skipped-entries.json
generate-data.sql

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cloudflare
.wrangler
.dev.vars

# Cache directories
.cache
